/* pensar nas cores depois, falar com o resto do grupo */
/* todas as cores vao ser neutras, ou preto e branco ate decidir com o resto do grupo */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.login-container {
    width: 50%;
    height: 50%;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.login-container input{
    width: 500px;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button{
    width: 200px;
    padding: 10px;
    background-color: #c4c4c48f;
    color: rgb(41, 41, 41);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover{
    background-color: #910ece67;
}